<div class="container bg-gray-100">
  <!--2page deep start-->
  <div class="pl-72 pr-72 mdm:p-0">
    <div class="mt-4">
      <h3 class="text-center text-2xl font-bold text-Mdblue-700">New View</h3>
      <p class="text-center text-base font-normal text-Mdblue-700">Cum sociis natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
    <div>
      <div>
        <div class="my-4 flex items-center">
          <div class="mr-2 flex items-center space-x-2 text-center  text-Mdblue-600">
            <h3 class="text-2xl font-medium text-Mdblue-700">Configure your view</h3>
          </div>
          <div class="w-full- h-px grow bg-gray-200"></div>
        </div>
        <div class="w-full bg-gray-200 border border-gray-200 rounded-md shadow  ">
          <div class="p-2 flex justify-between">
            <div class=" flex items-center text-center font-semibold text-Mdblue-600"><span
                class="material-symbols-outlined Mdblue-fill-600 icon-24 mr-1"> schedule </span>
              <span class="text-sm font-medium text-Mdblue-600"> Cases </span>
            </div>
            <div class=" flex items-center space-x-2 text-center text-sm font-semibold text-Mdblue-600">
              <span class="rounded-full  bg-white px-2.5 py-0.5 text-sm font-semibold">10</span>
              <span>results</span>
              <button type="button"
                class="flex items-center rounded-lg border border-gray-300 bg-white px-2 py-2 text-sm font-medium text-Mdblue-700 hover:border-gray-600 hover:bg-gray-100 focus:border-gray-900 focus:bg-gray-100 focus:outline-none">
                <span class="material-symbols-outlined icon-16"> tune </span>
              </button>
              <button type="button"
                class="inline-flex items-center rounded-full bg-Mdblue-600 p-1 text-sm text-white hover:bg-primary-300 hover:text-primary-900"
                id="chip-primary-search-0-97013-button"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 14 14" class="h-2 w-2">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg></button>
            </div>
          </div>

          <div class="p-4 bg-white">
            <div class="flex flex-col space-y-4 font-medium">
              <div>
                <p class="mb-3 text-Mdblue-600">Filters</p>
                <div class="flex flex-col gap-y-2 font-semibold">

                  <div class="flex justify-between rounded-md border border-gray-300 bg-white p-2">
                    <div class="flex space-x-2 items-center">
                      <span class="material-symbols-outlined icon-24 Mdblue-fill-600"> group </span>
                      <div class="flex flex-col text-Mdblue-600 text-sm font-medium-">
                        <p class="">Party</p>

                        <div class="flex space-x-2">
                          <div class="flex space-x-1">
                            <span class="">Name: </span>
                            <span class="text-Mdblue-700 ">Atradius Collection</span>
                          </div>

                          <div class="flex space-x-1">
                            <span>Role: </span>
                            <span class="text-Mdblue-700">Offensive</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button type="button"
                        class="inline-flex items-center rounded-full bg-Mdblue-600 p-1 text-sm text-white hover:bg-primary-300 hover:text-primary-900"
                        id="chip-primary-search-0-97013-button"><svg aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="h-2 w-2">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                        </svg></button>
                    </div>
                  </div>
                   <div class="flex justify-between rounded-md border border-gray-300 bg-white p-2">
                    <div class="flex space-x-2 items-center">
                      <span class="material-symbols-outlined icon-24 Mdblue-fill-600"> group </span>
                      <div class="flex flex-col text-Mdblue-600 text-sm font-medium-">
                        <p class="">Party</p>

                        <div class="flex space-x-2">
                          <div class="flex space-x-1">
                            <span class="">Role: </span>
                            <span class="text-Mdblue-700 ">Defensive</span>
                          </div>

                          <div class="flex space-x-1">
                            <span>Representation: </span>
                            <span class="text-Mdblue-700">Unrepresented</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button type="button"
                        class="inline-flex items-center rounded-full bg-Mdblue-600 p-1 text-sm text-white hover:bg-primary-300 hover:text-primary-900"
                        id="chip-primary-search-0-97013-button"><svg aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="h-2 w-2">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                        </svg></button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="mb-3  ">Ask AI</p>
                <div class="flex flex-col gap-y-2">
                  <div class="flex justify-between rounded-md border border-gray-300 bg-white p-2">
                    <div class="flex space-x-2 items-center">
                      <span class="material-symbols-outlined icon-24 Mdblue-fill-700"> group </span>
                      <div class="flex flex-col Mdblue-text-600 font-medium text-sm ">
                        <p>Show me the addresses from the defendants</p>

                      </div>
                    </div>
                    <div>
                      <button type="button"
                        class="inline-flex items-center rounded-full bg-Mdblue-600 p-1 text-sm text-white hover:bg-primary-300 hover:text-primary-900"
                        id="chip-primary-search-0-97013-button"><svg aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" class="h-2 w-2">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                        </svg></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="space-y-1 mt-4 text-Mdblue-600">
              <p class="text-Mdblue-700 font-medium">How do you want to update the data?</p>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
              <div class="flex flex-col gap-3">
                <div class="">
                  <ul class="flex bg-white text-sm font-medium text-Mdblue-700">
                    <li
                      class="group relative  mr-4 flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
                      <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100 opacity-0
                        transition-opacity duration-300 ease-in-out">check_circle</span> -->
                      <input id="" type="radio" value=""
                        class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
                      <div class="space-y-2">
                        <p class="text-base font-semibold">On Demand</p>
                        <p class="text-Mdblue-600">Manually by you.</p>
                      </div>
                    </li>
                    <li
                      class="group relative   flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
                      <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100
                        opacity-0 transition-opacity duration-300 ease-in-out">check_circle</span> -->
                      <input id="" type="radio" value=""
                        class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
                      <div class="space-y-2">
                        <p class="text-base font-semibold">Schedule it...</p>
                        <p class="">You pick when</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="mt-8">
        <div class="my-4 flex items-center">
          <div class="mr-2 flex items-center space-x-2 text-center  text-Mdblue-600">
            <h3 class="text-2xl font-medium text-Mdblue-700">How often you want to refresh the view?</h3>
          </div>
          <div class="w-full- h-px grow bg-gray-200"></div>
        </div>
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>

        <div class="mt-4">
          <ul class="flex flex-col gap-y-2  text-sm font-medium text-Mdblue-700">
            <li
              class="group relative bg-white  mr-4 flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
              <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100 opacity-0
                        transition-opacity duration-300 ease-in-out">check_circle</span> -->
              <input id="" type="radio" value=""
                class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
              <div class="space-y-2">
                <p class="text-base font-semibold">Daily</p>
                <p class="text-Mdblue-600">The data will be automatically updated daily at 9:00 AM.</p>
              </div>
            </li>
            <li
              class="group relative  bg-white flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
              <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100
                        opacity-0 transition-opacity duration-300 ease-in-out">check_circle</span> -->
              <input id="" type="radio" value=""
                class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
              <div class="space-y-2">
                <p class="text-base font-semibold">Weekly</p>
                <p class="text-Mdblue-600">If you pick this option will be able to select a day of the week and an hour.</p>
              </div>
            </li>
             <li
              class="group relative  bg-white flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
              <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100
                        opacity-0 transition-opacity duration-300 ease-in-out">check_circle</span> -->
              <input id="" type="radio" value=""
                class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
              <div class="space-y-2">
                <p class="text-base font-semibold">Monthly</p>
                <p class="text-Mdblue-600">If you pick this option will be able to select a day of the week and an hour.</p>
              </div>
            </li>
             <li
              class="group relative  bg-white flex w-full items-center rounded-md border border-gray-200 px-4 py-4 hover:cursor-pointer hover:bg-gray-100 hover:border-secondary-700">
              <!-- <span
                        class="material-symbols-outlined absolute right-[0.3rem] top-[0.3rem] secondary-fill-700 group-hover:opacity-100
                        opacity-0 transition-opacity duration-300 ease-in-out">check_circle</span> -->
              <input id="" type="radio" value=""
                class="!h-6 !w-6 border-Mdblue-600 bg-gray-100 absolute right-[0.4rem] top-[0.4rem] text-secondary-700 focus:ring-2 focus:ring-primary-500 focus:ring-offset-0">
              <div class="space-y-2">
                <p class="text-base font-semibold">On Demand</p>
                <p class="text-Mdblue-600">Manually by you.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="mt-4">


          <label class="inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-secondary-300
   rounded-full peer  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white
   after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full
    after:h-5 after:w-5 after:transition-all  peer-checked:bg-secondary-700"></div>
            <span class="ms-3 text-base font-normal text-Mdblue-700 ">Notify me every time there’s new data in my
              view.</span>
          </label>


        </div>
      </div>

    </div>
  </div>
  <!--2page deep end-->

  <div class="mt-4">
    <p class="text-center text-base font-semibold text-Mdblue-700">Showing cases for “Atradius Collection” + “All New
      York City” courts</p>
    <p class="text-center font-normal text-Mdblue-700">You can use the customize button to pick what columns you want as
      part of your data extraction.</p>
  </div>

  <div class="my-4 flex items-center">
    <div class="mr-2 flex items-center space-x-2 text-center font-semibold text-Mdblue-600">
      <h5 class="text-lg font-semibold text-Mdblue-700">Cases</h5>
    </div>
    <div class="w-full- h-px grow bg-gray-200"></div>
    <div class="ml-2 flex items-center space-x-2 text-center font-semibold text-Mdblue-600">
      <div class="mr-4 space-x-2 text-center text-sm font-semibold"><span>Showing</span><span
          class="rounded-full  bg-white px-2.5 py-0.5 text-sm font-semibold">10</span> of <span
          class="rounded-full bg-white px-2.5 py-0.5 text-sm font-semibold">5,497,550</span><span>results</span>
      </div>
      <button type="button"
        class="btn-focus mb-6 mt-6 flex w-auto items-center rounded border border-gray-300 bg-white p-2 text-sm font-semibold text-primary-700 hover:border-gray-600 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:border-gray-600 focus:bg-gray-100 focus:outline-none ">

        <span class="material-symbols-outlined icon-24 mr-1">
          tune
        </span>
        <span class="">Customize your view</span>
        <!-- <span class="material-symbols-outlined icon-16 "> add </span> -->
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"
          class="ms-3 size-2.5 text-gray-600">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4">
          </path>
        </svg>
      </button>
      <button type="button"
        class="btn-focus mb-6 mt-6 flex w-auto items-center rounded border border-gray-300 bg-white p-2 text-sm font-semibold text-primary-700 hover:border-gray-600 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:border-gray-600 focus:bg-gray-100 focus:outline-none ">
        <span class="material-symbols-outlined icon-24 mr-1"> add </span>
        <span class="">Add to a view...</span>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"
          class="ms-3 size-2.5 text-gray-600">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4">
          </path>
        </svg>
      </button>
    </div>
  </div>

  <div class="relative overflow-x-auto rounded-lg">
    <table class="w-full text-sm text-left  text-primary-10 border">
      <thead class="text-base font-medium bg-gray-200 text-Mdblue-700">
        <tr>
          <th scope="col" class="px-4 py-3 ">
            <div class="flex items-center"><span>Case Name</span>
              <div class="ml-2"><button type="button" class="press flex items-center text-center"><span
                    class="material-symbols-outlined font-semibold">expand_less</span></button><button type="button"
                  class="press flex items-center text-center"><span
                    class="material-symbols-outlined font-semibold">expand_more</span></button></div>
            </div>
          </th>
          <th scope="col" class="px-4 py-3 w-[10%]">
            Case Number
          </th>
          <th scope="col" class="px-4 py-3">
            Filling Date
          </th>
          <th scope="col" class="px-4 py-3 w-[10%]">
            Case Status
          </th>
          <th scope="col" class="px-4 py-3">
            Court
          </th>
          <th scope="col" class="px-4 py-3">
            Case Type
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="border">
          <td class="px-4 py-3">
            SHYAN PARKER, INDIVIDUALLY, AND AS NEXT FRIEND OF J.W. AND J.W., MINORS,
            Plaintiff VS. JOHN HARRIS, Defendant
          </td>
          <td class="px-4 py-3">C-1-CV-24-005610</td>
          <td class="px-4 py-3">17 October 2024</td>
          <td class="px-4 py-3">Open</td>
          <td class="px-4 py-3">Texas County Courts - Travis County Court</td>
          <td class="px-4 py-3">Personal Injury and Torts - Personal Property</td>
        </tr>
        <tr class="border">
          <td class="px-4 py-3">
            SHYAN PARKER, INDIVIDUALLY, AND AS NEXT FRIEND OF J.W. AND J.W., MINORS,
            Plaintiff VS. JOHN HARRIS, Defendant
          </td>
          <td class="px-4 py-3">C-1-CV-24-005610</td>
          <td class="px-4 py-3">17 October 2024</td>
          <td class="px-4 py-3">Open</td>
          <td class="px-4 py-3">Texas County Courts - Travis County Court</td>
          <td class="px-4 py-3">Personal Injury and Torts - Personal Property</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
