<!--UI design start-->
<div class="cust-drop rounded-lg  bg-white z-10 w-96 block">
  <div class="px-4 py-3 pb-0 text-sm text-Mdblue-700">
    <div class="font-medium text-center mb-3">Add Court Filters</div>
    <div class="relative">
      <input type="text" placeholder="Search courts"
        class="block py-2.5 pe-10 text-sm text-Mdblue-700 border placeholder:text-Mdblue-700 border-gray-300 rounded w-80- w-full bg-gray-50 focus:ring-0 focus:border-Mdblue-600">
      <div class="pointer-events-none absolute inset-y-0 end-2 flex items-center ps-3">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"
          class="size-4 text-Mdblue-600">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
        </svg>
      </div>
    </div>

  </div>
  <div class="mt-2 h-[1px] grow bg-gray-200"></div>
  <div class="px-4 py-2 pb-0 flex items-center">
    <button type="button"
      class="bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-md px-2 py-2 text-sm font-semibold text-primary-700">
      Back
    </button>
    <div class="text-Mdblue-600 text-sm font-semibold flex justify-center grow gap-2 flex-wrap">
      <a href="#"><span>Federal</span></a>
      <span>-</span>
      <a><span>Federal</span></a>

    </div>
  </div>
  <div class="mt-2 h-[1px] grow bg-gray-200"></div>
  <ul class="py-2 px-2 text-sm text-Mdblue-600 h-40- h-60 overflow-y-scroll space-y-4-">
    <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="checkbox-1">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0"
            id="checkbox-1">
          <span>Federal</span>
        </div>
        <div class="flex items-center">
          <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span>
        </div>
      </label>
      <ul class="py-2 px-2- pl-4 text-sm text-Mdblue-600">
         <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="checkbox-2">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="checkbox-2">
          <span>child-1</span>
        </div>
        <div class="flex items-center">
          <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span>
        </div>
      </label>
       <ul class="py-2 px-2- pl-4 text-sm text-Mdblue-600">
         <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="checkbox-5">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="checkbox-5">
          <span>child-2</span>
        </div>
        <div class="flex items-center">
          <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span>
        </div>
      </label>
       <ul class="py-2 px-2- pl-4 text-sm text-Mdblue-600">
         <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="checkbox-4">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="checkbox-4">
          <span>child-3</span>
        </div>
        <div class="flex items-center">
          <!-- <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span> -->
        </div>
      </label>
    </li>
      </ul>
    </li>
      </ul>
    </li>
      </ul>
    </li>
    <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="checkbox-3">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="checkbox-3">
          <span>State</span>
        </div>
        <div class="flex items-center">
          <!-- <input type="checkbox"
            class="w-4 h-4 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="Wisconsin Circuit Courts"> -->
          <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span>
        </div>
      </label>
    </li>
  </ul>
  <ul class="py-2 px-2 text-sm text-Mdblue-600 h-40 overflow-y-scroll space-y-4- d-none">
    <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="Wisconsin Circuit Courts">
        <div class="flex">
          <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0"
            id="Wisconsin Circuit Courts">
          <span>Federal</span>
        </div>
        <div class="flex items-center">
          <!-- <input type="checkbox"
            class="w-4 h-4 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="Wisconsin Circuit Courts"> -->
          <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span>
        </div>
      </label>
    </li>
    <li class="">
      <label
        class="flex items-center justify-between text-sm hover:cursor-pointer font-medium text-Mdblue-700 hover:bg-gray-100 rounded-md px-3 py-2 w-full"
        for="Wisconsin Circuit Courts">
        <div class="flex">
          <!-- <input type="checkbox"
            class="w-4 h-4 mr-2 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="Wisconsin Circuit Courts"> -->
          <span>Court Name</span>
        </div>
        <div class="flex items-center">
          <input type="checkbox"
            class="w-4 h-4 cursor-pointer text-secondary-700 border border-gray-600 rounded focus:ring-offset-0 focus:outline-none focus:ring-0 ng-untouched ng-pristine ng-valid"
            id="Wisconsin Circuit Courts">
          <!-- <span class="material-symbols-outlined icon-24 text-Mdblue-600">
            chevron_right
          </span> -->
        </div>
      </label>
    </li>
  </ul>
  <div class="mt-4 h-[1px] grow bg-gray-200"></div>
  <div class="grid grid-cols-3 gap-2 px-4 py-3 text-sm text-Mdblue-700">
    <button type="button"
      class="disabled opacity-50 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100- focus:ring-4 focus:ring-gray-200 rounded-md px-2 py-2 text-sm font-semibold text-primary-700">
      Clear All
    </button>
    <button type="button"
      class="bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 rounded-md px-2 py-2 text-sm font-semibold text-primary-700">
      Select All
    </button>
    <button type="button"
      class="btn-focus flex items-center justify-center rounded bg-primary-700 px-4 py-2 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none border border-transparent">
      <span>Done</span>
    </button>
  </div>
</div>
<!--UI design end-->



<!--angular animation -bottom to bottom start-->
<div class="container">
  <div [@slideInOut]="isVisible ? 'visible' : 'hidden'" class="sliding-div w-full">
    This div slides in from the bottom
  </div>
  <button (click)="toggleVisibility()" class="toggle-button">
    {{ isVisible ? 'Hide' : 'Show' }} Sliding Div
  </button>
</div>
<!--angular animation -bottom to bottom end-->


<!--html str test start-->

<!--html str test end-->
