<div class="flex h-full flex-col outer-wrapper">
  <div class="container header">
    <nav aria-label="navigation-bar" class="relative w-full bg-white- bg-white">
      <section class="header-shadow">
        <div class="mx-auto flex flex-wrap items-center justify-between px-4 py-3">
          <a href="https://unicourt.com/" class="flex items-center space-x-3 rtl:space-x-reverse align-middle">
            <img src="../../assets/jpg/Logo.png" width="88" height="auto" alt="Logo" />
          </a>
          <div class="items-center justify-between">
            <ul class="text-Mdblue-600- text-gray-600 flex p-4 font-medium md:p-0">
              <li class=""><button type="button"
                  class="f relative inline-flex items-center text-center text-sm font-medium  text-gray-600  p-2 rounded-lg  "><span
                    class="material-symbols-outlined icon-26"> notifications</span></button></li>
              <li class="">
                <div
                  class="bg-primary-700 inline-flex items-center justify-center overflow-hidden relative rounded-full size-12">
                  <span class="font-semibold text-base text-white">CG</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </nav>
  </div>
  <div class="flex grow mid-content overflow-y-auto">
    <div class="container">
      <h3 class="text-thirtytwo text-center mt-4 font-semibold text-Mdblue-700"> Welcome User! </h3>
      <p class="text-center mt-2 mb-4 text-lg font-normal text-Mdblue-700"> What would you like to do today? </p>
      <!-- <button type="button"
        class="text-white bg-blue-700 hover:bg-orange-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
        text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Default
      </button> -->

      <div class="relative mt-1">
        <div class="absolute inset-y-0  start-2 flex items-center ps-3 pointer-events-none"><svg aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" class="w-4 h-4 text-Mdblue-600">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
        </div>
        <div>
          <input type="text"
            class="block py-2.5 h-12 ps-10 text-base text-Mdblue-700 border placeholder:text-Mdblue-700 border-gray-300 rounded w-80- w-full bg-gray-50 focus:ring-0 focus:border-Mdblue-600"
            placeholder="Search">
        </div>
      </div>
      <div class="mb-4 mt-4 flex items-center">
        <div class="h-[1px] grow bg-gray-200"></div>
        <div class="ml-2 flex mr-2 text-center items-center font-semibold text-Mdblue-600">
          <h3 class="text-sm font-normal text-Mdblue-700"> Or explore... </h3>
        </div>
        <div class="h-[1px] grow bg-gray-200"></div>
      </div>
      <h3  class="text-xl font-semibold mt-6 mb-4 text-Mdblue-700">Videos to get you going </h3>
      <div class="grid- gap-6 sm:grid-cols-2- md:grid-cols-4- flex overflow-hidden text-nowrap whitespace-nowrap parent-">
        <div class="bg-white rounded-lg border border-gray-200 shadow-sm child-">
          <a href="#">
            <img class=" pb-4 w-full  rounded-tl-lg rounded-tr-lg" src="../../assets/jpg/welcome.png" alt="Jese Leos">
          </a>
          <div class="px-5 pb-5 text-Mdblue-700">
            <h3 class="text-base font-semibold tracking-tight ">
              <a href="#">Onboarding to UniCourt</a>
            </h3>

            <p class="mt-3 mb-4 font-sm font-normal ">
              Easy steps to get you going with some searches
            </p>
            <div class="flex justify-end text-Mdblue-600 font-semibold items-center">
              <span class="material-icons text-base">
                watch_later
              </span>
              <span>10:45</span>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-lg border border-gray-200 shadow-sm child-">
          <a href="#">
            <img class=" pb-4 w-full  rounded-tl-lg rounded-tr-lg" src="../../assets/jpg/welcome.png" alt="Jese Leos">
          </a>
          <div class="px-5 pb-5 text-Mdblue-700">
            <h3 class="text-base font-semibold tracking-tight">
              <a href="#">Different type of searches</a>
            </h3>

            <p class="mt-3 mb-4 font-sm font-normal">
              Easy steps to get you going with some searches
            </p>
            <div class="flex justify-end text-Mdblue-600 font-semibold items-center">
              <span class="material-icons text-base">
                watch_later
              </span>
              <span>10:45</span>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-lg border border-gray-200 shadow-sm child-">
          <a href="#">
            <img class=" pb-4 w-full  rounded-tl-lg rounded-tr-lg" src="../../assets/jpg/welcome.png" alt="Jese Leos">
          </a>
          <div class="px-5 pb-5 text-Mdblue-700">
            <h3 class="text-base font-semibold tracking-tight">
              <a href="#">Case Tracking</a>
            </h3>

            <p class="mt-3 mb-4 font-sm font-normal ">
              Easy steps to get you going with some searches
            </p>
            <div class="flex justify-end text-Mdblue-600 font-semibold items-center">
              <span class="material-icons text-base">
                watch_later
              </span>
              <span>10:45</span>
            </div>
          </div>
        </div>
        <div class="bg-white rounded-lg border border-gray-200 shadow-sm child-">
          <a href="#">
            <img class=" pb-4 w-full  rounded-tl-lg rounded-tr-lg" src="../../assets/jpg/welcome.png" alt="Jese Leos">
            <!-- <iframe class="mx-auto mt-8- w-full max-w-2xl h-64 rounded-lg lg:mt-12 sm:h-96"
                src="https://www.youtube.com/embed/4bnJG2UDr9A" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe> -->
          </a>
          <div class="px-5 pb-5 text-Mdblue-700">
            <h3 class="text-base font-semibold tracking-tight ">
              <a href="#">Inceptos Etiam Elit</a>
            </h3>

            <p class="mt-3 mb-4 font-sm font-normal ">
              Easy steps to get you going with some searches
            </p>
            <div class="flex justify-end text-Mdblue-600 font-semibold items-center">
              <span class="material-icons text-base">
                watch_later
              </span>
              <span>10:45</span>
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-xl font-semibold text-Mdblue-700 mt-6 mb-4">Some popular searches happening right now </h3>
      <div class="grid grid-cols-1 gap-4">
        <div
          class="group- flex flex-col w-full- p-6 border-b-[1px]- border-gray-300- hover:bg-gray-100- border-2 border-gray-200 rounded-xl">
          <div class="flex justify-between">
            <div class="flex flex-grow overflow-hidden">
              <span class="material-symbols-outlined mr-2 mt-1 text-Mdblue-600 icon-24 shrink-0">topic</span>
              <a target="_blank" class="grow overflow-hidden" href="/EAC01/case/CASEgc00ddb16902aa">
                <div class="truncate text-primary-700 text-lg font-semibold"> SUAZO, ROGER vs. NRG CARPENTRY CORP.
                </div>
              </a>
            </div>

            <div class="text-lg font-semibold flex  text-primary-700 mb-1 shrink-0">
              <div class="flex justify-between items-center space-x-1">
                <!-- <button type="button"
                  class="text-primary-600 card-btn flex bg-white font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24"> more_horiz </span>
                </button> -->
                <button type="button"
                  class="text-Mdblue-600 card-btn flex bg-gray-100- border- border-gray-300- focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24">more_horiz</span></button>
              </div>
            </div>
          </div>
          <div class="text-Mdblue-600 w-full overflow-scroll- overflow-hidden">
            <div class="flex">
              <div
                class="flex- grid grid-cols-2 gap-2 bg-gray-100- group-hover:bg-white- p-2 rounded text-sm font-normal flex-wrap">
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">tag</span><span
                    class="text-primary-700 font-semibold">600625/2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">
                    account_balance </span><span class="text-primary-700 font-semibold truncate">New York Supreme
                    Courts</span>
                </div>
                <div class="flex items-center"><span
                    class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">calendar_month</span><span
                    class="text-primary-700 font-semibold">14 March 2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">list_alt</span><span
                    class="text-primary-700 font-semibold">Civil</span>
                </div>

              </div>
            </div>
          </div>
          <div class="flex justify-end">
            <div class="flex items-center bg-gray-200 text-Mdblue-600 text-sm font-semibold py-1 px-2 rounded-full">
              <span>2</span><span class="material-symbols-outlined icon-18 Mdblue-fill-600 ml-1">article</span>
            </div>
          </div>
        </div>
        <div
          class="group- flex flex-col w-full- p-6 border-b-[1px]- border-gray-300- hover:bg-gray-100- border-2 border-gray-200 rounded-xl">
          <div class="flex justify-between">
            <div class="flex flex-grow overflow-hidden">
              <span class="material-symbols-outlined mr-2 mt-1 text-Mdblue-600 icon-24 shrink-0">topic</span>
              <a target="_blank" class="grow overflow-hidden" href="/EAC01/case/CASEgc00ddb16902aa">
                <div class="truncate text-primary-700 text-lg font-semibold"> SUAZO, ROGER vs. NRG CARPENTRY CORP.
                </div>
              </a>
            </div>

            <div class="text-lg font-semibold flex  text-primary-700 mb-1 shrink-0">
              <div class="flex justify-between items-center space-x-1">
                <!-- <button type="button"
                  class="text-primary-600 card-btn flex bg-white font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24"> more_horiz </span>
                </button> -->
                <button type="button"
                  class="text-Mdblue-600 card-btn flex bg-gray-100- border- border-gray-300- focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24">more_horiz</span></button>
              </div>
            </div>
          </div>
          <div class="text-Mdblue-600 w-full overflow-scroll- overflow-hidden">
            <div class="flex">
              <div
                class="flex- grid grid-cols-2 gap-2 bg-gray-100- group-hover:bg-white- p-2 rounded text-sm font-normal flex-wrap">
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">tag</span><span
                    class="text-primary-700 font-semibold">600625/2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">
                    account_balance </span><span class="text-primary-700 font-semibold truncate">New York Supreme
                    Courts</span>
                </div>
                <div class="flex items-center"><span
                    class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">calendar_month</span><span
                    class="text-primary-700 font-semibold">14 March 2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">list_alt</span><span
                    class="text-primary-700 font-semibold">Civil</span>
                </div>

              </div>
            </div>
          </div>
          <div class="flex justify-end">
            <div class="flex items-center bg-gray-200 text-Mdblue-600 text-sm font-semibold py-1 px-2 rounded-full">
              <span>2</span><span class="material-symbols-outlined icon-18 Mdblue-fill-600 ml-1">article</span>
            </div>
          </div>
        </div>
         <div
          class="group- flex flex-col w-full- p-6 border-b-[1px]- border-gray-300- hover:bg-gray-100- border-2 border-gray-200 rounded-xl d-none">
          <div class="flex justify-between">
            <div class="flex flex-grow overflow-hidden">
              <span class="material-symbols-outlined mr-2 mt-1 text-Mdblue-600 icon-24 shrink-0">topic</span>
              <a target="_blank" class="grow overflow-hidden" href="/EAC01/case/CASEgc00ddb16902aa">
                <div class="truncate text-primary-700 text-lg font-semibold"> SUAZO, ROGER vs. NRG CARPENTRY CORP.
                </div>
              </a>
            </div>

            <div class="text-lg font-semibold flex  text-primary-700 mb-1 shrink-0">
              <div class="flex justify-between items-center space-x-1">
                <!-- <button type="button"
                  class="text-primary-600 card-btn flex bg-white font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24"> more_horiz </span>
                </button> -->
                <button type="button"
                  class="text-Mdblue-600 card-btn flex bg-gray-100- border- border-gray-300- focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm p-1"><span
                    class="material-symbols-outlined icon-24">more_horiz</span></button>
              </div>
            </div>
          </div>
          <div class="text-Mdblue-600 w-full overflow-scroll- overflow-hidden">
            <div class="flex">
              <div
                class="flex- grid grid-cols-2 gap-2 bg-gray-100- group-hover:bg-white- p-2 rounded text-sm font-normal flex-wrap">
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">tag</span><span
                    class="text-primary-700 font-semibold">600625/2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">
                    account_balance </span><span class="text-primary-700 font-semibold truncate">New York Supreme
                    Courts</span>
                </div>
                <div class="flex items-center"><span
                    class="material-symbols-outlined icon-16 mr-1 Mdblue-fill-600">calendar_month</span><span
                    class="text-primary-700 font-semibold">14 March 2024</span>
                </div>
                <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">list_alt</span><span
                    class="text-primary-700 font-semibold">Civil</span>
                </div>

              </div>
            </div>
          </div>
          <div class="flex justify-end">
            <div class="flex items-center bg-gray-200 text-Mdblue-600 text-sm font-semibold py-1 px-2 rounded-full">
              <span>2</span><span class="material-symbols-outlined icon-18 Mdblue-fill-600 ml-1">article</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer border">
    <div class="">
      <ul class="text-Mdblue-600 text-gray-600- flex p-4 font-medium justify-center">
        <li class=""><a
            class="hover:text-primary-500- hover:text-white flex flex-col items-center px-3 text-base font-semibold"
            href="/EAC01/dashboard"><span class="material-symbols-outlined icon-24 mr-1 primary-fill-700"> cottage
            </span><span class="text-primary-700 ">Home</span></a></li>

        <li class=""><a
            class="hover:text-primary-500- hover:text-white flex flex-col items-center px-3 text-base font-semibold"
            href="/EAC01/tracking"><span class="material-symbols-outlined icon-24 mr-1"> watch_later
            </span><span>Tracking</span></a></li>
        <li class=""><a
            class="hover:text-primary-500- hover:text-white flex flex-col items-center px-3 text-base font-semibold"
            href="/EAC01/orders"><span class="material-symbols-outlined icon-24 mr-1"> receipt_long
            </span><span>Orders</span></a></li>
        <li class=""><a
            class="hover:text-primary-500- hover:text-white flex flex-col items-center px-3 text-base font-semibold"
            href="/EAC01/users"><span class="material-symbols-outlined icon-24 mr-1"> grid_view
            </span><span>More</span></a></li>
      </ul>
    </div>
  </div>
</div>
