<!--main search start-->
<!-- <div
  #containerRef
  (keydown)="move($event)"
  (click)="setFocusOnInput($event)"
  class="cust-trans d-none focus-within:shadow-[0_2px_rgb(0,158,189)]- container relative mb-1 min-h-[16px] w-full rounded border-2 border-gray-300 bg-gray-50 p-4 pr-[10rem] text-sm text-Mdblue-700 focus-within:border-primary-500"
>
  <app-chip
    class="inline-flex"
    *ngFor="let chip of chips; let idx = index"
    #chipRefs
    [editable]="true"
    [closeable]="true"
    (chipOutSelect)="selectChipAtIndex(idx)"
    (chipOutEdit)="setChipEditingStatus($event)"
    (chipOutDelete)="deleteChip(idx)"
    >{{ chip }}</app-chip
  >

  <input
    name="inputValue"
    [(ngModel)]="inputValue"
    #inputRef
    tabindex="0"
    (keydown.backspace)="selectChipAtIndex(chips.length - 1)"
    (keyup.enter)="insertChip()"
    (blur)="insertChip()"
    class="bg-transparent px-2 py-1 text-base font-normal outline-none placeholder:text-Mdblue-600"
    placeholder=""
    required
  />
  <div
    class="top-[1rem]- absolute bottom-[0] right-[0.5rem] top-[0] flex items-center"
  >
    <span class="mr-2 cursor-pointer text-base font-semibold text-primary-700"
      >Clear</span
    >
    <button
      type="submit"
      class="flex items-center rounded-md bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300"
    >
      <span class="material-symbols-outlined mr-1"> search </span>
      <span>Search</span>
    </button>
  </div>
</div> -->
<!--main search end-->

<!--semantic start-->
<div
  #containerRef
  (keydown)="move($event)"
  (click)="setFocusOnInput($event)"
  class="cust-trans focus-within:shadow-[0_2px_rgb(0,158,189)]- pr-[10rem]- container relative mb-1 flex min-h-[16px] w-full items-center justify-between rounded border-[1.5px] border-gray-300 bg-gray-50 p-2 text-sm text-Mdblue-700 focus-within:border-Mdblue-600"
>
  <div
    class="flex-1- flex-shrink-0- flex-nowrap- overflow-hidden- flex flex-wrap gap-2"
  >
    <app-chip
      class="inline-flex- flex"
      *ngFor="let chip of chips; let idx = index"
      #chipRefs
      [editable]="true"
      [closeable]="true"
      [chip]="chip"
      (chipOutSelect)="selectChipAtIndex(idx)"
      (chipOutEdit)="setChipEditingStatus($event)"
      (chipOutDelete)="deleteChip(idx)"
    ></app-chip>
    <input
      name="inputValue"
      [(ngModel)]="inputValue"
      #inputRef
      tabindex="0"
      (keydown.backspace)="selectChipAtIndex(chips.length - 1)"
      (keyup.enter)="insertChip()"
      (blur)="insertChip()"
      class="bg-transparent px-2 py-1 text-base font-normal outline-none placeholder:text-Mdblue-600"
      placeholder=""
      required
    />
  </div>
  <div
    class="top-[1rem]- absolute- bottom-[0]- right-[0.5rem]- top-[0]- flex items-center"
  >
    <button
      class="mr-2 cursor-pointer text-base font-semibold text-primary-700 p-3  focus:bg-gray-200 border border-white focus:border-Mdblue-600 rounded hover:bg-gray-200"
    >
      Clear
    </button>
    <button
      type="submit"
      class="btn-focus flex items-center justify-center border border-transparent rounded bg-primary-700 p-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none"
    >
      <span class="material-symbols-outlined mr-1 icon-24"> search </span>
      <span>Search</span>
    </button>
  </div>
</div>

<div class="search-chip-overflow-test d-none container">
  <div class="container flex justify-between border border-2">
    <div class="items flex flex-grow overflow-x-hidden">
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 1</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 2</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 3</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 4</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 5</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 6</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <button
        class="item mr-1 flex flex-shrink-0 flex-grow-0 items-center bg-slate-400"
        type="button"
      >
        <span>item 6</span>
        <span>dljkf jdfjldjlfjldjf</span>
      </button>
      <input type="name" />
      <div class="gradient"></div>
    </div>
    <div class="search flex-shrink-0 bg-slate-600">search search search</div>
  </div>
</div>

<div class="container- mb-4 mt-4">
  <ul
    class="space-x-2- pl-20- pr-20- mb-8- inline-flex flex-wrap space-y-2 text-base font-semibold text-Mdblue-700"
  >
    <li class="mr-[0.5rem] mt-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('caseName')"
        class=" inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span class="material-symbols-outlined Mdblue-fill-700 mr-2">
            source
          </span>
          <span> Case Name</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
    <li class="mr-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('judge')"
        class="inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span class="material-symbols-outlined Mdblue-fill-700 mr-2">
            gavel
          </span>
          <span> Judge</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
    <li class="mr-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('lawFirm')"
        class="inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span class="material-symbols-outlined Mdblue-fill-700 mr-2">
            domain
          </span>
          <span> Law-Firm</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
    <li class="mr-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('attorney')"
        class="inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span
            class="material-symbols-outlined gray-fill Mdblue-fill-700 mr-2"
          >
            business_center
          </span>
          <span> Attorney</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
    <li class="mr-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('court')"
        class="inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span class="material-symbols-outlined Mdblue-fill-700 mr-2">
            list_alt
          </span>
          <span> Court</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
    <li class="mr-[0.5rem]">
      <button
        type="button"
        (click)="insertFilterChip('caseType')"
        class="inline-flex w-full- items-center justify-between rounded-lg border bg-gray-200 p-2 text-sm font-medium text-Mdblue-700 hover:bg-gray-800 focus:border-Mdblue-600 focus:outline-none focus:ring-4 focus:ring-gray-100"
      >
        <div class="mr-2 flex items-center">
          <span class="material-symbols-outlined Mdblue-fill-700 mr-2">
            list_alt
          </span>
          <span> Case Type</span>
        </div>
        <div class="flex">
          <span
            class="material-symbols-outlined icon-18 rounded-md bg-white text-primary-700"
          >
            add
          </span>
        </div>
      </button>
    </li>
  </ul>
</div>
<!--semantic end-->
