<div
  #containerRef
  (keydown)="move($event)"
  (click)="setFocusOnInput($event)"
  class="cust-trans focus-within:shadow-[0_2px_rgb(0,158,189)]- container relative mb-1 w-full rounded border-2 border-gray-300 bg-gray-50 p-4 pr-[10rem] text-sm text-gray-900 focus-within:border-primary-500"
>
  <app-chip
    class="inline-flex"
    *ngFor="let chip of chips; let idx = index"
    #chipRefs
    [editable]="true"
    [closeable]="true"
    (chipOutSelect)="selectChipAtIndex(idx)"
    (chipOutEdit)="setChipEditingStatus($event)"
    (chipOutDelete)="deleteChip(idx)"
    >{{ chip }}</app-chip
  >

  <input
    name="inputValue"
    [(ngModel)]="inputValue"
    #inputRef
    tabindex="0"
    (keydown.backspace)="selectChipAtIndex(chips.length - 1)"
    (keyup.enter)="insertChip()"
    (blur)="insertChip()"
    class="bg-transparent px-2 py-1 text-base font-normal outline-none placeholder:text-gray-500"
    placeholder="Search a case"
    required
  />
  <div
    class="top-[1rem]- absolute bottom-[0] right-[1rem] top-[0] flex items-center"
  >
    <span class="mr-2 cursor-pointer text-base font-semibold text-primary-700"
      >Clear</span
    >
    <button
      type="submit"
      class="flex items-center rounded-md bg-primary-700 px-4 py-2 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600"
    >
      <span class="material-icons"> search </span>
      <span>Search</span>
    </button>
  </div>
</div>
