<div class="flex h-full flex-col outer-wrapper">
  <section class="bg-white shadow-md header-shadow">
    <div class="container-">
      <div class="flex justify-between pt-[0.75rem] pb-[0.75rem] pl-[1.5rem] pr-[1.5rem]">
        <a href="https://unicourt.com/" class="flex items-center align-middle">
          <img src="../../assets/jpg/Logo.png" width="88" height="auto" alt="Logo" />
        </a>
        <div class="items-center justify-between flex">
          <ul class="flex  p-4 md:p-0  font-medium text-Mdprimary-600 ">
            <li>
              <a href="#" class=" flex items-center  px-3  text-base font-semibold  hover:text-primary-500"
                aria-current="page">

                <!-- <span class="material-icons-two-tone selected mr-1">home</span> -->
                <!-- <span class="material-symbols-outlined selected">home</span> -->
                <!-- <span class="material-symbols-outlined">home</span> -->
                <!-- <img class="selected" src="../../assets/svg/home_black.svg"> -->
                <span class="material-symbols-outlined selected mr-1 icon-24">
                  cottage
                </span>
                <!-- <span class="material-icons">
                  cottage
                </span> -->

                <span class="text-primary-700">Home</span></a>

            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1"> star </span> -->
                <span class="material-symbols-outlined mr-1 icon-24">
                  star_outline
                </span>
                <span>Trending</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1">schedule</span> -->
                <!-- <span class="material-icons mr-1">
                  schedule
                </span> -->
                <span class="material-symbols-outlined mr-1 icon-24">
                  watch_later
                </span>
                <span>Tracking</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1"> list_alt </span> -->
                <span class="material-symbols-outlined icon-24 mr-1"> receipt_long </span>
                <span>Orders</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <span class="material-symbols-outlined icon-24 mr-1"> grid_view </span>
                <span>More</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-gray-100 flex grow mid-content overflow-y-auto ">
    <div class="container- w-full pl-[1.5rem] pr-[1.5rem]">
      <div class="grid grid-cols-2 gap-2 mt-10">
        <div class=" border-2 border-gray-200 p-2  rounded-md">
          dfldkf Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis adipisci, architecto iste ab ex
          provident aspernatur fuga sapiente dolor sequi quis ullam? Magnam, eum quae eligendi voluptates illo fuga
          impedit!
        </div>
        <div class=" border-2 border-gray-200 p-2  rounded-md">
          <div class="grid grid-rows-2 gap-2">
            <div class=" border-2 border-gray-200 p-2  rounded-md">
              <form class="">
                <div class="flex gap-2 flex-col">
                  <div class="mb-5 w-full grid grid-cols-2 gap-2">
                    <div class="">
                      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                        message</label>
                      <textarea id="message" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Write your thoughts here..."></textarea>

                    </div>
                    <div class="grid grid-cols-2 gap-2">
                      <div class="mb-2">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                          Field Name</label>
                        <input type="password" id="password"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full" required />
                      </div>
                      <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                          Answer Type</label>
                        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                          type="button">Dropdown <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4" />
                          </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown"
                          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                          <ul class="py-2 text-sm text-Mdblue-700 dark:text-gray-200"
                            aria-labelledby="dropdownDefaultButton">
                            <li>
                              <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 ">Dashboard</a>
                            </li>
                            <li>
                              <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 ">Settings</a>
                            </li>
                            <li>
                              <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 ">Earnings</a>
                            </li>
                            <li>
                              <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 ">Sign
                                out</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>



                </div>
                <div class="space-x-2 flex">
                  <button type="submit"
                    class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">
                    Submit
                  </button>
                  <button type="submit"
                    class="text-white items-center flex bg-secondary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full sm:w-auto px-4 py-2.5 text-center ">
                    <span class="material-symbols-outlined icon-18 mr-1 text-white "> add </span>
                    Add
                  </button>
                </div>
              </form>
            </div>
            <div class=" border-2 border-gray-200 p-2  rounded-md">
              dfldkf Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis adipisci, architecto iste ab ex
              provident aspernatur fuga sapiente dolor sequi quis ullam? Magnam, eum quae eligendi voluptates illo fuga
              impedit!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
