<div class="flex h-full flex-col outer-wrapper">
  <section class="bg-white shadow-md header-shadow">
    <div class="container-">
      <div class="flex justify-between pt-[0.75rem] pb-[0.75rem] pl-[1.5rem] pr-[1.5rem]">
        <a href="https://unicourt.com/" class="flex items-center align-middle">
          <img src="../../assets/jpg/Logo.png" width="88" height="auto" alt="Logo" />
        </a>
        <div class="items-center justify-between flex">
          <ul class="flex  p-4 md:p-0  font-medium text-Mdblue-600 ">
            <li>
              <a href="#" class=" flex items-center  px-3  text-base font-semibold  hover:text-primary-500"
                aria-current="page">

                <!-- <span class="material-icons-two-tone selected mr-1">home</span> -->
                <!-- <span class="material-symbols-outlined selected">home</span> -->
                <!-- <span class="material-symbols-outlined">home</span> -->
                <!-- <img class="selected" src="../../assets/svg/home_black.svg"> -->
                <span class="material-symbols-outlined selected mr-1 icon-24">
                  cottage
                </span>
                <!-- <span class="material-icons">
                  cottage
                </span> -->

                <span class="text-primary-700">Home</span></a>

            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1"> star </span> -->
                <span class="material-symbols-outlined mr-1 icon-24">
                  star_outline
                </span>
                <span>Trending</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1">schedule</span> -->
                <!-- <span class="material-icons mr-1">
                  schedule
                </span> -->
                <span class="material-symbols-outlined mr-1 icon-24">
                  watch_later
                </span>
                <span>Tracking</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <!-- <span class="material-symbols-outlined mr-1"> list_alt </span> -->
                <span class="material-symbols-outlined icon-24 mr-1"> receipt_long </span>
                <span>Orders</span></a>
            </li>
            <li>
              <a href="#" class=" flex items-center  px-3 text-base font-semibold  hover:text-primary-500 cust-trans"
                aria-current="page">
                <span class="material-symbols-outlined icon-24 mr-1"> grid_view </span>
                <span>More</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="bg-gray-100 flex grow mid-content overflow-y-auto ">
    <div class="container- w-full pl-[1.5rem] pr-[1.5rem]">
      <div class="grid grid-cols-2 gap-2 mt-10">
        <div class=" border-2 border-gray-200 p-2  rounded-md">
          dfldkf Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis adipisci, architecto iste ab ex provident aspernatur fuga sapiente dolor sequi quis ullam? Magnam, eum quae eligendi voluptates illo fuga impedit!
        </div>
        <div class=" border-2 border-gray-200 p-2  rounded-md">
          dfldkf Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis adipisci, architecto iste ab ex provident aspernatur fuga sapiente dolor sequi quis ullam? Magnam, eum quae eligendi voluptates illo fuga impedit!
        </div>
      </div>
    </div>
  </div>
</div>
