/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  //after @tailwind components need to add this btn styles, so not to change order of base,comp,utilies, added @layer components here and added styles
  .btn {
    //which is repeated py-2,px-2 so assigned to one class and called in html
    @apply bg-gray-900 px-2  py-2;
  }
  .btn1 {
    @apply rounded-md text-white;
  }
  .socialbtn {
    //@apply;
  }

  .cust-trans {
    @apply transition-colors duration-500 ease-in-out;
  }
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  //overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h-100 {
  height: 100%;
}
html {
  //font-size: 14px;
}

.m-h-btn {
  min-height: 2.1rem;
  height: 2.4rem;
}
.mlCust-0 {
  margin-left: 0 !important;
}
.btn-focus:focus {
  box-shadow: 2px 1px 4px 0px rgba(0, 26, 49, 0.2) inset;
}
//tab name style start
$primary-700: #005c87;
$gray-500: #667683;
button[aria-selected="true"] {
  //color: $primary-700;
  //border-bottom: 2px solid $primary-700;
}
//tab name style end

//scroll bar appear disappear start
.case-wraper {
  display: flex;
  flex-direction: column;
  min-height: 30%;
  overflow: hidden;
  max-height: 76%;
}
.case-list {
  overflow-y: scroll;
}
.case-list:hover {
  overflow-y: scroll !important;
}
.case-list::-webkit-scrollbar {
  display: none;
}
//scroll bar appear disappear end

.selected {
  filter: brightness(0) saturate(100%) invert(22%) sepia(42%) saturate(3196%)
    hue-rotate(175deg) brightness(100%) contrast(103%);
}

//thin scroll bar start
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
//thin scroll bar end

.material-symbols-outlined,
.material-icons,
.material-icons-outlined {
  //font-size: 24px;
  //color: $gray-500;
}
.icon-12 {
  font-size: 0.75rem;
}
.icon-16 {
  font-size: 1rem;
}
.icon-18 {
  font-size: 1.125rem;
}
.icon-20 {
  font-size: 1.25rem;
}
.icon-24 {
  font-size: 1.5rem;
}

.cust-icon-size {
  //font-size: 20px;
}
.d-none {
  display: none;
}

$blue-500: #009ebd;

.row-selected {
  border-top: 1px solid $blue-500;
  border-left: 1px solid $blue-500;
}

.checked {
  border-color: $blue-500;
}
.checkMark {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  filter: invert(17%) sepia(98%) saturate(2736%) hue-rotate(183deg)
    brightness(91%) contrast(101%);
}

.cust_relative {
  position: relative !important;
}

//table sorting start
.press:active {
  transform: translateY(2px);
}
.press .material-symbols-outlined {
  font-size: 13px !important;
  line-height: 9px !important;
}
//table sorting end

@media screen and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
  // .material-symbols-outlined {
  //   font-size: 24px;
  // }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .material-symbols-outlined,
  .material-icons {
    //line-height: 20px;
    //font-size: 24px;
  }
}

/**echart tooltip fix start**/
.echarts-tooltip {
  white-space: pre-wrap !important;
  max-width: 200px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}
.wh > div {
  width: 100% !important;
  width: auto !important ;
  display: flex !important;
  align-items: stretch !important;
  flex-grow: 1 !important;
  border: 2px solid black !important;

  /* flex-grow: 2; */
}
.wh > div > canvas {
  width: 100% !important;
  width: auto !important;
  display: flex !important;
  align-items: stretch !important;
  flex-grow: 1 !important;
  border: 2px solid red !important;

  /* flex-grow: 2; */
}
/**echart tooltip fix end**/

input::-webkit-search-cancel-button {
  display: none; /* Hide the clear button */
}

/**radio & checkbox button size start**/
input[type="radio"] {
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.7rem;
}
input[type="checkbox"] {
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.1rem;
}
/**radio & checkbox button size end**/
.cust-drop {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px rgba(171, 189, 209, 0.41);
}
.header-shadow {
  box-shadow: 0px 4px 4px rgba(0, 26, 49, 0.03);
  border-bottom: 1px solid #eaeef2;
}
.icon-sixteen {
  font-size: 1rem;
}
