<div class="flex gap-3 flex-wrap items-center justify-center bg-white border-b-2 pt-4">

  <button
    class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">case
    type</button>
  <button
    class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">Add
    Filter
    <span class="material-symbols-outlined ml-1 icon-18"> add </span>
  </button>
</div>


<div class="space-y-12">
  <div class="mb-5- grid grid-cols-1 gap-6">
    <div class="bg-white  border-2 border-gray-200 p-2 pt-4 relative rounded-xl">
      <h5 class="text-center text-lg font-semibold text-Mdblue-700"> Case Filings By Year </h5>
    </div>
  </div>
</div>

<span class="size-2 bg-red-700">d</span>
<span class="size-2 bg-yellow-600">d</span>
<span class="size-2 bg-secondary-700">d</span>
<span class="size-2 bg-pink-700">d</span>
<span class="size-2 bg-random-1">random</span>


<td class="whitespace-nowrap px-6 py-4 font-medium text-Mdblue-700">
  <span class="flex items-center rounded bg-gray-100 px-2 py-0.5">
    <span class="mr-2 h-2 w-2 rounded-full bg-red-700"></span>
   properties
  </span>
</td>
