<div class="flex gap-3 flex-wrap items-center- justify-center- bg-white border-b-2 pt-4">

  <div class="left-col mr-2- overflow-y-auto- sticky top-0 flex w-full max-w-[20%] bg-white">
    <!--lawfirm profile new fields start-->
    <ul class="mb-8 space-y-6">
      <div text="About">
        <div class="my-4 flex items-center">
          <div class="mr-2 text-center text-sm font-semibold uppercase text-Mdblue-600"> About </div>
          <div class="h-px grow bg-gray-200"></div>
        </div>
      </div>
      <li class="space-y-1">
        <p class="flex items-center text-sm font-semibold text-Mdblue-600"><span
            class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-2"> location_on </span><span>Location</span>
        </p>
        <p class="text-base font-semibold text-Mdblue-700 "> Los Angeles </p>
      </li>
      <li class="space-y-1">
        <p class="flex items-center text-sm font-semibold text-Mdblue-600"><span
            class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-2"> beach_access </span><span>Parent
            Law-firm</span>
        </p>
        <p class="text-base font-semibold text-primary-700"> Luminary Law Group </p>
      </li>
      <li class="space-y-1">
        <div class="grid grid-cols-2 gap-2">
          <div class="space-y-1">
            <p class="flex items-center text-sm font-semibold text-Mdblue-600"><span
                class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-2"> workspace_premium
              </span><span>Offices</span></p>
            <p class="text-base font-semibold text-Mdblue-700 "> 6 </p>
          </div>
          <div class="space-y-1">
            <p class="flex items-center text-sm font-semibold text-Mdblue-600"><span
                class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-2"> history_toggle_off </span><span>
                Years in Operation</span></p>
            <p class="text-base font-semibold text-Mdblue-700 "> 18 </p>
          </div>
        </div>
      </li>
      <li class="space-y-1">
        <p class="flex items-center text-sm font-semibold text-Mdblue-600"><span
            class="material-symbols-outlined icon-16 mr-2">list_alt</span><span>
            Practice Areas Covered</span></p>
        <p class="text-base font-semibold text-Mdblue-700 "> Corporate, Family, Civil and Political Rights, Tax </p>
      </li>
      <li class="space-y-1">
        <p class="flex items-center text-sm font-semibold text-Mdblue-600">
          <span class="material-symbols-outlined icon-16 mr-2">list_alt</span>
          <span>
            Areas of Specialty</span>
        </p>
        <p class="text-base font-semibold text-Mdblue-700 "> Not Available </p>
      </li>
    </ul>
    <!--lawfirm profile new fields end-->
  </div>
  <!--

  <button
    class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">case
    type</button>
  <button
    class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">Add
    Filter
    <span class="material-symbols-outlined ml-1 icon-18"> add </span>
  </button> -->
</div>


<div class="space-y-12">
  <div class="mb-5- grid grid-cols-1 gap-6">
    <div class="bg-white  border-2 border-gray-200 p-2 pt-4 relative rounded-xl">
      <h5 class="text-center text-lg font-semibold text-Mdblue-700"> Case Filings By Year </h5>
    </div>
  </div>
</div>

<span class="size-2 bg-red-700">d</span>
<span class="size-2 bg-yellow-600">d</span>
<span class="size-2 bg-secondary-700">d</span>
<span class="size-2 bg-pink-700">d</span>
<span class="size-2 bg-random-1">random</span>

<div>
  <span>juridiction of the states barred</span>
</div>


<td class="whitespace-nowrap px-6 py-4 font-medium text-Mdblue-700">
  <span class="flex items-center rounded bg-gray-100 px-2 py-0.5">
    <span class="mr-2 h-2 w-2 rounded-full bg-red-700"></span>
    properties
  </span>
</td>

<div>
  <p class="mt-4 text-center text-sm font-semibold text-Mdblue-600 mb-4">Top 10 attorneys at Firm Name <span
      class="font-bold ml-1">Attorney Name</span></p>
  <div class=" h-[1px] grow bg-gray-200"></div>
</div>

<div class="my-4 flex items-center">
  <div class=" h-px grow bg-gray-200"></div>
  <div class="mx-2 flex items-center text-center">
    <h3 class="text-sm font-semibold text-Mdblue-700">Case Metrics</h3>
  </div>
  <div class=" h-px grow bg-gray-200"></div>
</div>
