<div class="flex gap-3 flex-wrap items-center justify-center bg-white border-b-2 pt-4">

<button class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">case type</button>
<button class="btn-focus flex w-full- items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-3 text-base font-medium text-white hover:bg-primary-800 focus:outline-none">Add Filter
  <span class="material-symbols-outlined ml-1 icon-18"> add </span>
</button>
</div>
