<div class="w-[629px] bg-section_gray p-4">
  <div>
    <div class="grid grid-cols-2 gap-2 px-4 py-3 text-sm text-Mdblue-700">
      <button type="button"
        class="rounded-md border flex items-center justify-center border-gray-300 bg-white px-2 py-2 text-sm font-semibold text-primary-700 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200">
        <span class="material-symbols-outlined mr-1 icon-18">
          tune
        </span>
        Add Filter </button>
      <button type="button"
        class="btn-focus flex items-center justify-center rounded border border-transparent bg-primary-700 px-4 py-2 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none">
        <span class="material-symbols-outlined mr-1 icon-18"> search </span>
        <span>Search</span>
      </button>
    </div>
    <div class="grid- grid-cols-1- gap-2 px-4 py-3- text-sm flex justify-center text-Mdblue-700">
      <button
        class="cursor-pointer w-full rounded border border-white p-3 text-base font-medium text-primary-700 hover:bg-gray-200 focus:border-Mdblue-600 focus:bg-gray-200">
        Clear
      </button>
    </div>
  </div>
  <div>
    <div class="my-4 flex items-center gap-6" id="divider-switch-view-case-results-20787"
      data-testid="divider-switch-view-case-results-20787">
      <div class="mr-2 flex items-center space-x-2 text-center font-semibold text-Mdblue-600">
        <h5 class="text-lg font-semibold text-Mdblue-700">Case Results</h5>
      </div>
      <div class="w-full- h-px grow bg-gray-200"></div>
      <div>
        <div class="flex items-center space-x-2 text-sm font-semibold text-Mdblue-600"><span>Showing</span>
          <div><span class="rounded-full bg-gray-200 px-2.5 py-0.5 text-sm font-semibold">1 - 10</span></div>
          <span>of</span>
          <div><span class="rounded-full bg-gray-200 px-2.5 py-0.5 text-sm font-semibold">7,357,950</span></div>
          <span>results</span>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded-xl border-2 border-gray-200 bg-white">
    <div class="w-full- group flex flex-col border-b-[1px] border-gray-300 p-2 hover:bg-gray-100">


          <div class="mb-1 flex justify-between text-sm font-semibold text-primary-700">
            <div class="flex grow overflow-hidden items-center">
              <div><span class="material-symbols-outlined icon-20 mr-2 mt-1 text-Mdblue-600">topic</span></div>
              <a target="_blank" class="grow- overflow-hidden" href="">
                <div class="truncate">STATE OF FLORIDA VS STEHR, WILLIAM JOHN FLORIDA VS STEHR, WILLIAM JOHN FLORIDA VS STEHR, WILLIAM JOHN</div>
              </a>
            </div>
            <div class="flex items-center justify-between space-x-1"><button type="button"
                class="card-btn flex rounded-lg p-1 text-sm font-medium text-primary-700"><span
                  class="material-symbols-outlined icon-24"> more_horiz </span></button>
            </div>
          </div>



      <div
        class="flex- flex-wrap- space-x-3- grid grid-cols-2 gap-2 rounded bg-gray-100 p-2 text-sm font-normal group-hover:bg-white">
        <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">tag</span><span
            class="font-semibold text-primary-700">2025 TR 000667 A</span></div>
        <div class="flex items-center"><span class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-1">
            account_balance </span><span class="font-semibold text-primary-700">Florida County Courts - Citrus
            County Court Court</span></div>
        <div class="flex items-center"><span
            class="material-symbols-outlined icon-16 Mdblue-fill-600 mr-1">calendar_month</span><span
            class="font-semibold text-primary-700">21 January 2025</span></div>
        <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">list_alt</span><span
            class="font-semibold text-primary-700">Traffic</span></div>
        <div class="flex items-center"><span class="material-symbols-outlined icon-16 mr-1">inventory</span><span
            class="font-semibold text-primary-700">Open</span></div>
      </div>

    </div>

  </div>
</div>
