<div class="flex h-screen">
<div class="c_md:w-[4.25rem] duration-300 w-[4.25rem] border border-red-500 relative h-full">
  <div class="h-full overflow-y-auto overflow-x-hidden custom-scrollbar">
    <ul class="space-y-2 px-2 c_md:mt-2">
      <li *ngFor="let item of navItems; let i = index" class="relative">
        <a
          class="relative flex w-full cursor-pointer items-center gap-x-2 rounded-md px-2 py-1 hover:bg-white c_md:justify-center bg-white text-primary-700 justify-center"
          [href]="item.link"
          [attr.aria-describedby]="'tooltip-' + i"
          (mouseenter)="showTooltip(i, $event)"
          (mouseleave)="hideTooltip()"
          (focus)="showTooltip(i, $event)"
          (blur)="hideTooltip()">
          <span class="material-symbols-outlined flex items-center icon-20 Mdblue-fill-600 py-2 !text-primary-700 relative">
            {{ item.icon }}
            <!-- Notification badge using pure Tailwind classes -->
            <span *ngIf="item.icon === 'notifications'" class="absolute top-1 right-1 w-2 h-2 rounded-full bg-red-700"></span>
          </span>
        </a>

        <!-- Individual tooltip for each item using Tailwind classes -->
        <div
          [id]="'tooltip-' + i"
          role="tooltip"
          class="fixed bg-blue-100 text-black-700 px-2 py-1 rounded text-xs whitespace-nowrap pointer-events-none opacity-0 invisible transition-opacity duration-200 ease-in-out shadow-md z-[9999]"
          [class.opacity-100]="hoverIndex === i"
          [class.visible]="hoverIndex === i"
          [style.top.px]="tooltipPosition.top"
          [style.left.px]="tooltipPosition.left">
          {{ item.tooltip }}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="flex-1">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, ducimus velit quaerat repellat ullam
   repellendus, explicabo nihil, cupiditate eaque totam consequatur! Explicabo sequi dolore,
   saepe repellendus quibusdam assumenda debitis accusantium.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, ducimus velit quaerat repellat ullam
  repellendus, explicabo nihil, cupiditate eaque totam consequatur! Explicabo sequi dolore,
  saepe repellendus quibusdam assumenda debitis accusantium.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, ducimus velit quaerat repellat ullam
  repellendus, explicabo nihil, cupiditate eaque totam consequatur! Explicabo sequi dolore,
  saepe repellendus quibusdam assumenda debitis accusantium.</p>
</div>
</div>
<div>

</div>